<h1>{{>artwork-summary}}</h1>
<div><img src={{artwork}} alt="{{title}} by {{artist.name}}"></div>
  <div><a class="license" href={{license.url}}>{{license.name}}</a></div>

<div><a href="/">Go home</a></div>