<main>
    <h1>
      {{title}}
      

       {{#each art}}
       <ul>
      <li>{{title}}</li>
      <a href="{{artist.url}}">{{artist.name}}</a>
      </br>
      <a href="{{license.url}}">{{license.name}}</a>
      </ul>
      {{/each}}






    </h1>
  
    
  </main>
